{% extends 'base.html'%}

{% block title %}
Add a Customer
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div id = 'ticketInfo'>
    <div id = 'objectForm'>
    <h1>Add a Customer</h1>
    <form action ="" method = "POST">
            {%csrf_token %}
            {{form}}
        <input id="submit" type ="submit" name = "submit">
    </form>
    </div>
</div>
{% else %}
    <h1 id = "nolog"> You are not logged in! Please login to create a ticket </h1>
{% endif %}
{% endblock %}