{% extends 'base.html'%}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <span  id = "ticketbar">
    <h1 id = "dashTitle">Customer List:</h1>
        <a href="/dashboard/create-customer/" class="button" title="Add a Customer"> + Add a Customer</a>
    </span>
    <hr>
    <div id = 'ticketTable'>
        <table id = "dashTable">
            <tr>
            <th id = 'tableHeading'>First Name: </th>
            <th id = 'tableHeading'>Last Name: </th> 
            <th id = 'tableHeading'>Phone Number: </th>
            <th id = 'tableHeading'>Email Address: </th>
            <th id = 'tableHeading'>Address: </th>
            </tr>
                {% for customer in customers %}
                    <tr>
                    <th id = 'tableContent'> <a href =""> {{customer.id}}  </a></th> 
                    <th id = 'tableContent'> {{customer.firstName | capfirst}} </th>
                    <th id = 'tableContent'>{{customer.lastName | capfirst}}  </th> 
                    <th id = 'tableContent'>{{customer.number}} </th> 
                    <th id = 'tableContent'><a href = "mailto:">{{customer.email}} </a> </th>
                    <th id = 'tableContent'>{{customer.address}} </th>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% else %}
    <h1 id = "nolog"> You are not logged in! Please login to see the customer list </h1>
{% endif %}
{% endblock %}