{% extends 'base.html'%}

{% block title %}
{{ stock.itemName | capfirst}}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div id = 'ticketInfo'>
    <div id = 'objectForm'>
    <h1>{{ stock.itemName | capfirst}}</h1>
        <form action  ="" method = "POST">
            {%csrf_token %}
            {{form}}
        <input id="submit" type ="submit" name = "submit">
    </form>
</div>
</div>
{% else %}
    <h1 id = "nolog"> You are not logged in! Please login to view this inventory item </h1>
{% endif %}
{% endblock %}