{% extends 'base.html'%}

{% block title %}
{{ ticket.id}} - {{ ticket.ticketName | capfirst}}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div id = 'ticketInfo'>
<div id = 'ticketTable'>
    <h1>{{ ticket.id}} - {{ ticket.ticketName | capfirst}}</h1>
        <form action  ="" method = "POST">
            {%csrf_token %}
            {{form}}
        <input type ="submit" name = "submit">
    </form>
</div>
</div>
{% else %}
    <h1 id = "nolog"> You are not logged in! Please login to view this ticket </h1>
{% endif %}
{% endblock %}