@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

#ticketbar{
  padding-top: 1.5vh;
  padding-bottom: 1vh;
}

#dashTitle{
  margin-top: 1vh;
  margin-bottom: 1vh;
   margin-left: 4vw;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(25px, 3.5vw, 60px);
  color: #225599;  
  float: left;
  border: none;
}


.button {
  background-color: #225599;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 1.5vh 1.5vw;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  margin: 1.5vh 5vw;
  cursor: pointer;
  float: right;
}

 hr {
  text-align: center;
  width: 90%;
  border-top: 0.1em solid #333333;
}

#dashTable {
  width: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
} 

#tableHeading {
  font-family: 'Poppins', sans-serif;
  color: #225599;  

}

#tableContent {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: 400;  
}

#tableContent a {
  color: #000000;
  text-underline-offset: 0.1em;
}