@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

#ticketbar{
  padding-top: 1.5vh;
  padding-bottom: 1vh;
}

#dashTitle{
  margin-top: 1vh;
  margin-bottom: 1vh;
   margin-left: 4vw;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(25px, 3.5vw, 60px);
  color: #225599;  
  float: left;
  border: none;
}

hr {
  text-align: center;
  width: 90%;
  border-top: 0.1em solid #333333;
}

#dashTable {
  width: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
} 

#stockTable {
  display: flex;
  margin-left: 3vw;
  margin-right: 3vw;
}

.item {
  padding-left: 1em;
  padding-right: 1em;
  display: inline-flex;
}

#tableHeading {
  font-family: 'Poppins', sans-serif;
  color: #225599;  

}

#tableContent {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: 400;  
}

#tableContent a {
  color: #000000;
  text-underline-offset: 0.1em;
}

