@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

/* HTML WIDE */
html{
  background-color: #333333;
}

body {
  margin: 0em;
  display: block;
}

#parent-container {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

#header{
  grid-column: 1 / 4;
  background-color: #000000;
  background-image: linear-gradient(180deg, #000000 0%, #333333 75%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoContainer{
  width: 40%;
  height: auto;
  /* padding-left at 4vw to compensate for this logo */
  padding-left: 4vw;
}

.logo {
  display: inline-block;
  text-align: left;
  max-width:100%;
  max-height:100%;
}

#logoLink {
  display:inline-block;
  max-width:100%;
  max-height:100%;
}

.links {
  list-style: none;
  padding-right: 4.5vw;
  margin-bottom: 0em;
  margin-top: 0em;
  font-size: 1.5vw;
  transition: all 0.3s ease 0s; 
}

.links li{
  display: inline-block;
  padding: 0px .5vw;

}

#loginForm{
  text-align: center;  
}

#loginForm input{
  width:80%
}
.button {
  background-color: #225599;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 1.5vh 1.5vw;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  margin: 1.5vh 5vw;
  margin-left:0;
  cursor: pointer;
  float: right;
}

.button:hover{
  background-color: #14335c;
}

#login {
  float:none;
}

.links a{
  color: #FFFFFF; 
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-shadow: #000000;
}


.links a:hover{
  color: #225599;  
  transition: all 0.3s ease 0s;
}

#login-container{
  padding-right: 5vw;
  float:right;
}

#loggedin {
  font-weight: 200;
}

#loggedin, #logout, #admin{
  color: #FFFFFF; 
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  margin: 0;
  display: inline-block;
  padding-left: 1vw;
}


#logout a, #admin a{
  text-decoration: none;
  color: #FFFFFF; 
}

#logout a:hover{
  color: #225599;  
  transition: all 0.3s ease 0s;
}

#admin a:hover{
  color: #910000;  
  transition: all 0.3s ease 0s;
}

#left-block {
  grid-column: 1 / 2;
  background-color: #333333;
  width: 5vw;
}

#right-block {
  grid-column: 3 / 4;
  background-color: #333333;
  width: 5vw;
}


#main-content-block{
  grid-column: 2 / 3;
  background-color: #AAAAAA;
  box-shadow: 0px 0px 1em #333333 inset;
  height: 80vh;
  overflow-y:auto
}

#footer {
  grid-column: 1 / 4;
  background-color: #333333;
  color:#FFFFFF;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-shadow: -0.0625em 0.0625em 0.1875em #333333,
                0.0625em 0.0625em 0.1875em #000000;
}

#nolog{
  color:#225599;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}


#ticketTable, #objectForm {
  font-family: 'Poppins', sans-serif;
  color: #225599;
  font-weight: bold;

}

/* Ticket Details Specific */


#ticketInfo {
  text-align: -webkit-center;
}

#objectForm{
  font-size: 1.25em;
  width: max-content;  
}



#submit:hover{
  background-color: #14335c;

}

#objectForm p {
  text-align: left;
  align-content: right;

}

#objectForm input, select, textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 0.75em;
  display: list-item;
  padding-left: 1em;
  width: 100%;
}

#objectForm button, #submit {
  background-color: #225599;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 1em !important;
  padding: 1em;
  display: inline-block;
  width: 100%;
}
/* Hidden for Printing */

#print {
  margin-top: 1em;
  
}

#print:hover{
  background-color: #14335c;

}
.hidden {
  height: 0px;
  width: auto;
  display: inline-flex;
  font-size: 0px;
}
